<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logo Arrangement</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        .logos img{
            width: 15%;
            aspect-ratio: 3/2;
            object-fit: contain;
            mix-blend-mode: color-burn;
        }
    </style>
</head>
<body>
    <div class="logos">
        <img src="https://i.sstatic.net/5nE4S.jpg" alt="">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzKxMlsbpykEF5pZoDkvalodOosLv6oazW2w&s" alt="">
        <img src="https://cdn.freebiesupply.com/images/thumbs/2x/google-logo.png" alt="">
        <img src="https://arrow.apache.org/img/arrow-logo_chevrons_black-txt_white-bg.png" alt="">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNt_zbMPDqivMLu3ZYVyzSQzAfxJEKZBjYug&s" alt="">
        <img src="https://www.freeiconspng.com/thumbs/nike-logo/black-nike-logo-no-background-20.jpg" alt="">
    </div>
</body>
</html>